<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/admin/">
  <title>ThisGameShop Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Prompt:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Sidebar -->
  <aside class="sidebar">
    <div>
      <h2>THISGAMESHOP</h2>
      <div class="menu">
        <a href="/ad-m" >Dashboard</a>
        <a href="/ad-m/User">Users</a>
        <a class="active" >Games</a>
        <a href="/ad-m/Orders" >Orders</a>
        <a href="/ad-m/Reports" >Reports</a>
      </div>
    </div>
    <footer>© 2025 ThisGameShop</footer>
  </aside>

  <!-- Main -->
  <main class="main-con">
    
  </main>

  </script>
</body>
</html>
