<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/admin/style.css">
  <link rel="stylesheet" href="/stylesheets/admin/ad-orders.css">
  <title>ThisGameShop Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Prompt:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<button id="toggleSidebar"><i class="fi fi-rr-menu-burger"></i> Menu</button>
  <!-- Sidebar -->
  <aside class="sidebar">
    <div>
      <h2>THISGAMESHOP</h2>
      <div class="menu">
        <a href="/ad-m" >Dashboard</a>
        <a href="/ad-m/User">Users</a>
        <a href="/ad-m/Games" >Games</a>
        <a class="active" >Orders</a>
        <a href="/ad-m/Reports" >Reports</a>
      </div>
    </div>
    <footer>© 2025 ThisGameShop</footer>
  </aside>

  <!-- Main -->
  <main class="main-con">
    <header class="topbar">
      <h1><i class="fi fi-rr-box"></i> Orders Management</h1>
    </header>

    <div class="orders-header">
    <input id="filterOrder" placeholder="ค้นหา Order หรือชื่อลูกค้า..." />
    <select id="filterStatus">
      <option value="">All Status</option>
      <option value="pending">Pending</option>
      <option value="paid">Paid</option>
      <option value="cancelled">Cancelled</option>
    </select>
    <button id="btnReload"><i class="fi fi-rr-refresh"></i> Reload</button>
  </div>

  <div id="orderGrid" class="order-grid"></div>
  </main>


</body>
<!-- <i class="fi fi-rr-box"></i> SweetAlert2 สำหรับ popup สวยๆ -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/admin/admin.js"></script>
<script src="/javascripts/admin/ad-orders.js"></script>
</html>
