<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('header.html')%>
  <link rel="stylesheet" href="stylesheets/cart.css" />
</head>

<body>
  <%- include('nav.html')%>

  <script type="module">
    import { increaseValue, decreaseValue } from '../javascripts/cart.js';

    window.increaseValue = increaseValue;
    window.decreaseValue = decreaseValue;
  </script>
  <div class="conten">
    <div class="Cart">

      <div class="title">
        IN Cart
      </div>
      <div class="totleCart">
        <div class="Header">
          <div class="checkbox-wrap" id="selectAll">
            <label class="custom-checkbox">
              <input type="checkbox" id="selectAllCheck">
              <span class="checkmark"></span>
            </label>

            <div>Product</div>
          </div>
          <div class="drtail">
            <div class="cost">price</div>
            <div class="amount">amount</div>
          </div>
        </div>


        <!-- item============= -->
        

      </div>
      <div class="footer">
        <div class="sumi">
          <span>TOTAL :</span>
          <div id="showsum">0</div>
          <span>THB</span>
        </div>
        <div class="subsub">
          <button type="button">
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
<Script src="javascripts/main.js"></Script>
<script src="javascripts/cart.js"></script>

</html>