<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>this-game-shop</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/cart.css">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>
<script>
  function increaseValue(button, limit) {
    const numberInput = button.parentElement.querySelector('.number');
    var value = parseInt(numberInput.innerHTML, 10);
    if (isNaN(value)) value = 0;
    if (limit && value >= limit) return;
    numberInput.innerHTML = value + 1;
  }


  function decreaseValue(button) {
    const numberInput = button.parentElement.querySelector('.number');
    var value = parseInt(numberInput.innerHTML, 10);
    if (isNaN(value)) value = 1;
    if (value < 2) return;
    numberInput.innerHTML = value - 1;
  }</script>

<body>
  <nav>
    <div class="nav-l">
      <img src="images/this-game-shop-high-resolution-logo.png" alt="">
    </div>
    <div class="nav-c">
      <ul class="group">
        <li class="Home ">

          <a href="/">
            <i class="fi fi-rr-home icon"></i>
            Home
          </a>
        </li>
        <li class="Store ">

          <a href="/store">
            <i class="fi fi-rr-sign-hanging icon"></i>
            Store
          </a>
        </li>
        <li class="Cart active">

          <a href="/cart">
            <i class="fi fi-rr-shopping-cart icon"></i>
            Cart
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-r">


      <div class="profile"><!--  active -->
        <ul id="menu">
          <!-- activeM -->
          <li class=""><a href="./account">Account</a></li>
          <li class=""><a href="./history">History</a></li>
          <li class=""><a href="">Log out</a></li>
        </ul>
        <div id="pf">
          <div id="nameProfile">
            Nattawooth Preechajarn
          </div>
          <div id="iconProfileProfile">

          </div>
        </div>
      </div>
    </div>

  </nav>
  <div class="conten">
    <div class="Cart">
      <div class="title">
        IN Cart
      </div>
      <div class="totleCart">
        <div class="Header">
          <div class="checkbox-wrapper-2" id="selectAll">
            <input type="checkbox" class="sc-gJwTLC ikxBAC">
            Product
          </div>
          <div class="drtail">
            <div class="cost">cost</div>
            <div class="amount">amount</div>
          </div>
        </div>


        <!-- item============= -->
        <div class="cartItem">
          <div class="checkbox-wrapper-2" id="selectAll">
            <input type="checkbox" class="sc-gJwTLC ikxBAC">
            <div class="poto">
              <img src="images/image-47.jpeg" alt="">
            </div>
            God of war
          </div>
          <div class="drtail">
            <div class="cost">234</div>
            <div class="amount">
              <div class="quantity-field">
                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt">-</button>
                <div class="number">1</div>
                <button class="value-button increase-button" onclick="increaseValue(this, 5)" title="Arrtır">+
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="cartItem">
          <div class="checkbox-wrapper-2" id="selectAll">
            <input type="checkbox" class="sc-gJwTLC ikxBAC">
            <div class="poto">
              <img src="images/image-47.jpeg" alt="">
            </div>
            God of war
          </div>
          <div class="drtail">
            <div class="cost">234</div>
            <div class="amount">
              <div class="quantity-field">
                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt">-</button>
                <div class="number">1</div>
                <button class="value-button increase-button" onclick="increaseValue(this, 5)" title="Arrtır">+
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="cartItem">
          <div class="checkbox-wrapper-2" id="selectAll">
            <input type="checkbox" class="sc-gJwTLC ikxBAC">
            <div class="poto">
              <img src="images/image-47.jpeg" alt="">
            </div>
            God of war
          </div>
          <div class="drtail">
            <div class="cost">234</div>
            <div class="amount">
              <div class="quantity-field">
                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt">-</button>
                <div class="number">1</div>
                <button class="value-button increase-button" onclick="increaseValue(this, 5)" title="Arrtır">+
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="cartItem">
          <div class="checkbox-wrapper-2" id="selectAll">
            <input type="checkbox" class="sc-gJwTLC ikxBAC">
            <div class="poto">
              <img src="images/image-47.jpeg" alt="">
            </div>
            God of war
          </div>
          <div class="drtail">
            <div class="cost">234</div>
            <div class="amount">
              <div class="quantity-field">
                <button class="value-button decrease-button" onclick="decreaseValue(this)" title="Azalt">-</button>
                <div class="number">1</div>
                <button class="value-button increase-button" onclick="increaseValue(this, 5)" title="Arrtır">+
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="footer">
        <div class="sumi">
          <span>Totle :</span>
          <div id="showsum">0</div>
          <span>฿</span>
        </div>
        <div class="subsub">
          <button type="button">
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
<Script src="javascripts/main.js"></Script>

</html>