<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>this-game-shop</title>

    <link rel="stylesheet" href="stylesheets/home.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/slide.css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css"
    />
  </head>

  <body>
    <nav>
      <div class="nav-l">
        <img src="/images/this-game-shop-high-resolution-logo.png" alt="" />
      </div>

      <div class="nav-c">
        <ul class="group">
          <li class="Home active">
            <a>
              <i class="fi fi-rr-home icon"></i>
              Home
            </a>
          </li>
          <li class="Store">
            <a href="/store">
              <i class="fi fi-rr-sign-hanging icon"></i>
              Store
            </a>
          </li>
          <li class="Cart">
            <a href="/cart">
              <i class="fi fi-rr-shopping-cart icon"></i>
              Cart
            </a>
          </li>
        </ul>
      </div>

      <div class="nav-r" id="account-area">
        <script>
          (async () => {
            try {
              const response = await fetch("../account/session", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
              });
              const data = await response.json();
              const container = document.getElementById("account-area");

              if (data.loggedIn) {
                container.innerHTML = `
                  <div class="profile">
                    <ul id="menu" style="padding: 0;">
                      <li><a>Account</a></li>
                      <li><a href="/history">History</a></li>
                      <li><a href="/account/logout">Log out</a></li>
                    </ul>
                    <div id="pf">
                      <div id="nameProfile">${data.user.display_name}</div>
                      <div id="iconProfileProfile"></div>
                    </div>
                  </div>
                `;
                let show = 0;
                document.getElementById("pf").addEventListener("click", (e) => {
                  if (show === 0) {
                    show = 1;
                    document.getElementById("menu").style.display = "block";
                  } else {
                    show = 0;
                    document.getElementById("menu").style.display = "none";
                  }
                });
              } else {
                container.innerHTML = `
                  <div>
                    <a href="/account/" class="signIn">Sign in</a>
                  </div>
                `;
              }
            } catch (error) {
              console.error("Error fetching session data:", error);
            }
          })();
        </script>
      </div>
    </nav>

    <div class="conten">
      <div class="Explope">
        <div class="slide">
          <div class="con-card"></div>

          <div class="card" index="0">
            <img
              class="bg"
              src="https://i.pinimg.com/736x/d1/11/f4/d111f4da28aab27db9ced26691faa9ef--promotion-game.jpg"
              alt="bg0"
            />
            <img
              class="cover"
              src="https://i.pinimg.com/736x/d1/11/f4/d111f4da28aab27db9ced26691faa9ef--promotion-game.jpg"
              alt="cover0"
            />
          </div>

          <div class="card" index="1">
            <img
              class="bg"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png"
              alt="bg1"
            />
            <img
              class="cover"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png"
              alt="cover1"
            />
          </div>

          <div class="card" index="2">
            <img
              class="bg"
              src="https://i.pinimg.com/originals/43/86/21/4386218c4a70da6bfe841dbb0ba60346.jpg"
              alt="bg2"
            />
            <img
              class="cover"
              src="https://i.pinimg.com/originals/43/86/21/4386218c4a70da6bfe841dbb0ba60346.jpg"
              alt="cover2"
            />
          </div>

          <div class="card" index="3">
            <img
              class="bg"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/cdabf8114338715.60391d51d54d2.png"
              alt="bg3"
            />
            <img
              class="cover"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/cdabf8114338715.60391d51d54d2.png"
              alt="cover3"
            />
          </div>

          <div class="card" index="4">
            <img
              class="bg"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png"
              alt="bg4"
            />
            <img
              class="cover"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png"
              alt="cover4"
            />
          </div>

          <div class="card" index="5">
            <img
              class="bg"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9cc73943112493.57e3ab71dc4da.png"
              alt="bg5"
            />
            <img
              class="cover"
              src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9cc73943112493.57e3ab71dc4da.png"
              alt="cover5"
            />
          </div>

          <button class="nav prev">&#10094;</button>
          <button class="nav next">&#10095;</button>

          <div class="dots"></div>
        </div>
      </div>
      <section class="recommend-section">
        <h1><i class="fi fi-rr-apps"></i> Platform</h1>

        <div class="recommend-grid">
          <div class="recommend-card">
            <img
              src="https://preview.redd.it/5be3ypqjts171.jpg?width=620&format=pjpg&auto=webp&s=1ef64ad440e554ef5c33a146afbaea2ddb632d3c"
              alt="PC"
            />
            <div class="info">
              <h2>PC</h2>
            </div>
          </div>

          <div class="recommend-card">
            <img
              src="https://logovent.com/blog/wp-content/uploads/2024/06/PlayStation-Logo.png"
              alt="Playstation"
            />
            <div class="info">
              <h2>Playstation</h2>
            </div>
          </div>

          <div class="recommend-card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgA4ra0zCo5e7LdNbD-rwm6mju6A6yCNGB-A&s"
              alt="Nintendo"
            />
            <div class="info">
              <h2>Nintendo</h2>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="javascripts/slide.js"></script>
  </body>
</html>
