<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>this-game-shop</title>
  <link rel="stylesheet" href="stylesheets/store.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/slide.css">
  <link rel='stylesheet'
    href='https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
</head>


<body>
  <nav>
    <div class="nav-l">
      <img src="images/this-game-shop-high-resolution-logo.png" alt="">
    </div>
    <div class="nav-c">
      <ul class="group">
        <li class="Home">

          <a href="/">
            <i class="fi fi-rr-home icon"></i>
            Home
          </a>
        </li>
        <li class="Store active">

          <a href="/store">
            <i class="fi fi-rr-sign-hanging icon"></i>
            Store
          </a>
        </li>
        <li class="Cart">

          <a href="/cart">
            <i class="fi fi-rr-shopping-cart icon"></i>
            Cart
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-r">


      <div class="profile"><!--  active -->
        <ul id="menu">
          <!-- activeM -->
          <li class=""><a href="./account">Account</a></li>
          <li class=""><a href="./history">History</a></li>
          <li class=""><a href="">Log out</a></li>
        </ul>
        <div id="pf">
          <div id="nameProfile">
            Nattawooth Preechajarn
          </div>
          <div id="iconProfileProfile">

          </div>
        </div>
      </div>
    </div>

  </nav>
  <div class="conten">
    <div class="Explope">
      <div class="slide">
        <div class="con-card"></div>
        <div class="card" index="0">
          <img class="bg" src="https://i.pinimg.com/736x/d1/11/f4/d111f4da28aab27db9ced26691faa9ef--promotion-game.jpg"
            alt="bg0">
          <img class="cover"
            src="https://i.pinimg.com/736x/d1/11/f4/d111f4da28aab27db9ced26691faa9ef--promotion-game.jpg" alt="cover0">
        </div>
        <div class="card" index="1">
          <img class="bg"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png" alt="bg1">
          <img class="cover"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png"
            alt="cover1">
        </div>
        <div class="card" index="2">
          <img class="bg" src="https://i.pinimg.com/originals/43/86/21/4386218c4a70da6bfe841dbb0ba60346.jpg" alt="bg2">
          <img class="cover" src="https://i.pinimg.com/originals/43/86/21/4386218c4a70da6bfe841dbb0ba60346.jpg"
            alt="cover2">
        </div>
        <div class="card" index="3">
          <img class="bg"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/cdabf8114338715.60391d51d54d2.png"
            alt="bg3">
          <img class="cover"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/cdabf8114338715.60391d51d54d2.png"
            alt="cover3">
        </div>
        <div class="card" index="4">
          <img class="bg"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png" alt="bg4">
          <img class="cover"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cd63f266143885.5b0c7ad54bb19.png"
            alt="cover4">
        </div>
        <div class="card" index="5">
          <img class="bg"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9cc73943112493.57e3ab71dc4da.png"
            alt="bg5">
          <img class="cover"
            src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/9cc73943112493.57e3ab71dc4da.png"
            alt="cover5">
        </div>
      </div>






      <div class="title">
        Explope
      </div>
      <div class="navmenu">
        <div class="con">
          <div class="search">
            <i class="fi fi-rr-search"></i>
            <input id="inPsearch" placeholder="search" type="text">
          </div>
        </div>
        <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
        <div class="filter">
          <div class="layout" active="True" id="gitQ">
            <i class="fi fi-rr-apps"></i>
          </div>
          <div class="layout" active="False" id="gitW">
            <i class="fi fi-rr-rectangle-horizontal"></i>
          </div>
        </div>
      </div>
      <div id="ShopExplo">
        <div class="cards" item_id="">
          <div class="poto">
            <img src="images/image-47.jpeg" alt="" srcset="">
          </div>
          <div class="title">
            <H1>ThisGame</H1>
          </div>
          <div class="footer">
            <div class="price">
              <p>23.54</p><span>฿</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

<Script src="javascripts/main.js"></Script>
<Script src="javascripts/store.js"></Script>
<script src="javascripts/slide.js"></script>

</html>